 <form class="retiro-form">
  <mat-form-field class="retiro-full-width">
    <input [(ngModel)]="cuentaId" name="cuentaId" matInput placeholder="Numero de cuenta" >
  </mat-form-field>

  
   <mat-form-field class="retiro-full-width">
    <input [(ngModel)]="valor" name="valor" type="number" matInput placeholder="Valor">
     <span matPrefix>$&nbsp;</span>
  </mat-form-field>

   <mat-form-field class="retiro-full-width">
    <input matInput [(ngModel)]="clave" name="clave" placeholder="Contraseña" [type]="hide ? 'password' : 'text'">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>
   <a mat-raised-button color="primary" (click)="realizarRetiro()">Realizar retiro</a>
</form>

<div class="loading-indicator" *ngIf="mostrarLoading">
  <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
</div>