 <form class="saldo-form">
  <mat-form-field class="saldo-full-width">
    <input [(ngModel)]="cuentaId" name="cuentaId" matInput placeholder="Numero de cuenta" >
  </mat-form-field>

   <mat-form-field class="saldo-full-width">
    <input matInput [(ngModel)]="clave" name="clave" placeholder="Contraseña" [type]="hide ? 'password' : 'text'">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>
   <a mat-raised-button color="primary" (click)="consultarSaldo()">Consultar Saldo</a>
</form>

<div class="loading-indicator" *ngIf="mostrarLoading">
  <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
</div>