<div class="main-div">

<mat-card class="z-depth center" flex="50">
<img mat-card-image style="width:50%" src='../../src/assets/logo.png'> 
<mat-card-content>

</mat-card-content>
<mat-tab-group  mat-align-tabs="center" >
  <mat-tab label="Retiro" align="center">
    <app-retiro></app-retiro>
  </mat-tab>
  <mat-tab label="Consulta de saldo" align="center">
    <app-saldo></app-saldo>
  </mat-tab>
</mat-tab-group>
</mat-card>
</div>
