.center{
  width: 60%;
  margin: 10px auto;
}

.main-div{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
    background: -webkit-linear-gradient(110deg, #2d98da 40%, rgba(0, 0, 0, 0) 30%), -webkit-radial-gradient(farthest-corner at 0% 0%, #2980b9 70%, #45aaf2 70%);
    background: -webkit-linear-gradient(110deg, #2d98da 40%, rgba(0, 0, 0, 0) 30%), -webkit-radial-gradient(farthest-corner at 0% 0%, #2980b9 70%, #45aaf2 70%);
    background: -o-linear-gradient(110deg, #2d98da 40%, rgba(0, 0, 0, 0) 30%), -o-radial-gradient(farthest-corner at 0% 0%, #2980b9 70%, #45aaf2 70%);
    background: -moz-linear-gradient(110deg, #2d98da 40%, rgba(0, 0, 0, 0) 30%), -moz-radial-gradient(farthest-corner at 0% 0%, #2980b9 70%, #45aaf2 70%);
    background: linear-gradient(110deg, #2d98da 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #2980b9 70%, #45aaf2 70%);
}   

.mat-card-image:first-child{
  width: 50%;
  display: block;
  margin: auto;
}
.retiro-form {
  
  width: 90%;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.retiro-full-width {
  width: 100%;
}
